apiVersion: projectcalico.org/v3
kind: IPPool
metadata:
  name: "{{ calico_pool_name }}"
spec:
  cidr: "{{ calico_pool_cidr | default(kube_pods_subnet) }}"
  ipipMode: "{{ ipip_mode }}"
  natOutgoing: "{{ nat_outgoing|default(false) and not peer_with_router|default(false) }}"
  disabled: false
  blockSize: "{{ kube_network_node_prefix }}"
