apiVersion: extensions/v1beta1
kind: PodSecurityPolicy
metadata:
  name: storageos-psp-operator
  namespace: storageos-operator
spec:
  privileged: true
  allowPrivilegeEscalation: true
  volumes:
  - '*'
  runAsUser:
    rule: 'RunAsAny'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'RunAsAny'
  fsGroup:
    rule: 'RunAsAny'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: storageos-psp-operator
  namespace: storageos-operator
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  resourceNames:
  - storageos-psp-operator
  verbs:
  - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
    name: storageos-psp-operator
    namespace: storageos-operator
roleRef:
   apiGroup: rbac.authorization.k8s.io
   kind: Role
   name: storageos-psp-operator
subjects:
- kind: ServiceAccount
  name: storageoscluster-operator-sa
  namespace: storageos-operator
---
