---
apiVersion: v1
kind: Secret
metadata:
  name: "storageos-api"
  namespace: "default"
  labels:
    app: "storageos"
type: "kubernetes.io/storageos"
data:
  apiUsername: {{ storageos_api_user | b64encode }}
  apiPassword: {{ storageos_api_password | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: "storageos-etcd-secrets"
  namespace: "storageos-operator"
  labels:
    app: "storageos"
type: "kubernetes.io/storageos"
data:
  etcd-client-ca.crt: {{ storageos_certs.results[0].stdout }}
  etcd-client.crt: {{ storageos_certs.results[1].stdout }}
  etcd-client.key: {{ storageos_certs.results[2].stdout }}
