apiVersion: "storageos.com/v1"
kind: StorageOSCluster
metadata:
  name: "storageos"
spec:
  secretRefName: "storageos-api" # Reference from the Secret created in the previous step
  secretRefNamespace: "default"  # Namespace of the Secret
  images:
    nodeContainer: {{ storageos_node_image_repo }}:{{ storageos_node_image_tag }}
  kvBackend:
    address: '{{ etcd_access_addresses }}'
    backend: 'etcd'
  tlsEtcdSecretRefName: "storageos-etcd-secrets"
  tlsEtcdSecretRefNamespace: "storageos-operator"
  resources:
    requests:
      memory: {{ storageos_request_memory }}
#  nodeSelectorTerms:
#    - matchExpressions:
#      - key: "node-role.kubernetes.io/worker"
#        operator: In
#        values:
#        - "true"
